* Reset */ *,
*::after,
*::before {
  box-sizing: border-box;
  /* list-style: none; */
  padding: 0;
  margin: 0;
}

/* root Variable */

:root {
  --color-primary: #219f95;
  --color-secondary: #afcedd;
  --color-secondary-text: #234894;
  --color-body: #fff;
  --color-headings: #000;
  --color-detais: #696969;
}
html {
  font-size: 62.5%;
}
body {
  background-color: var(--color-body);
  color: var(--color-headings);
  font-size: 1.2rem;
  line-height: 1.5rem;
}
h1,
h2,
h3 {
  color: var(--color-headings);
  font-weight: 700;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}

/* main */
.container {
  max-width: 1024px;
  margin: 0 auto;
}
.main-card {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 500px)); */
  justify-content: center;
  gap: 1rem;
}
.request {
  padding: 2rem 0;
}
.request h2 {
  font-size: 2rem;
  margin: 0 3rem 3rem 0;
}
.card__request {
  max-width: 100%;
  height: auto;
  /* background-color: rgb(217, 217, 217); */
  padding: 1rem;
}
@media screen and (min-width: 760px) {
  .main-card {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .main-card {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 500px)); */
    justify-content: center;
    justify-items: center;
    gap: 4rem;
  }
  .request {
    padding: 5rem 0;
  }
  .request h2 {
    font-size: 2.5rem;
    margin-bottom: 5rem;
    padding: 0;
  }
  .card__request {
    width: 100%;
    height: auto;
    /* padding: 2rem 1.5rem; */
  }
}
/* header */
.request__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.request__number {
  background-color: var(--color-secondary);
  font-size: 1.4rem;
  font-weight: 900;
  color: var(--color-secondary-text);
  border-radius: 6px;
  padding: 0.4rem 1rem;
  margin-left: 1rem;
  overflow: hidden;
}
.request__text {
  color: var(--color-secondary-text);
  font-size: 1.3rem;
  font-weight: 600;
}
.request__date {
  color: var(--color-detais);
  font-size: 1rem;
  font-weight: 400;
}
@media screen and (min-width: 1024px) {
  .request__number {
    font-size: 1.9rem;
    padding: 0.5rem 1.2rem;
    margin-left: 1rem;
  }
  .request__text {
    font-size: 1.6rem;
  }
  .request__date {
    font-size: 1.2rem;
  }
}

/* body */
.request__body {
  display: flex;
  flex-direction: column;
}
.request__body h3 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}
.request__id {
  color: var(--color-detais);
  font-size: 1rem;
  font-weight: 400px;
}

.request__person {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.request__person-detail {
  display: flex;
  align-items: center;
}
.request__name {
  font-size: 1.3rem;
  font-weight: bold;
}
.request__person-detail .request__prof {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  margin-left: 0.75rem;
}
.btn {
  outline: 0;
  border: 0;
  padding: 1.2rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
}
.request--button {
  color: var(--color-body);
  background-color: var(--color-primary);
  font-size: 1.3rem;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .request__body h3 {
    font-size: 1.8rem;
  }
  .request__id {
    font-size: 1.2rem;
  }
  .request__name {
    font-size: 1.6rem;
  }
  .request__person-detail .request__prof {
    width: 40px;
    height: 40px;
    margin-left: 1rem;
  }
  .btn {
    padding: 1.5rem 1.8rem;
  }
  .request--button {
    font-size: 1.6rem;
  }
}
